{% extends "base_site.html" %}

{% block title %} Пациенты {% endblock title %}


{% block stylesheets %}
    {{ super() }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Пациенты<small>basic table subtitle</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="form-group">
                  <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                    <button type="button" class="btn btn-primary">Добавить</button>
                  </div>
                </div>
            <div class="x_content">
                <div class="ln_solid"></div>

                <table class="table">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Фамилия Имя Отчество</th>
                        <th>Дата рождения</th>
                        <th>СНИЛС</th>
                        <th>Дата первичного приема</th>
                        <th>Профиль</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>1</th>
                        <td>Иванов Иван Иванович</td>
                        <td>10.10.1960</td>
                        <td>123-456-789-01</td>
                        <td>01.01.2020</td>
                        <td>
                      <a href="/patient/profile1"> <button type="button" class="btn btn-success btn-xs">Открыть</button> </a>
                    </td>
                    </tr>
                    <tr>
                      <th>2</th>
                      <td>Петров Петр Петрович</td>
                        <td>20.02.1967</td>
                      <td>123-456-789-02</td>
                        <td>05.01.2020</td>
                        <td>
                      <a href="/patient/profile2"> <button type="button" class="btn btn-success btn-xs">Открыть</button> </a>
                    </td>
                    </tr>
                    <tr>
                      <th>3</th>
                      <td>Сидоров Сидор Сидорович</td>
                        <td>26.09.1959</td>
                      <td>123-456-789-03</td>
                        <td>03.01.2020</td>
                        <td>
                      <a href="/patient/profile3"> <button type="button" class="btn btn-success btn-xs">Открыть</button> </a>
                    </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Текст записи специалиста</h4>
                </div>
                <div class="modal-body">
                    <!--<h4>Text in a modal</h4>-->
                    <p>Здесь будет текст записи специалиста.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
    {{ super() }}
{% endblock javascripts %}
