{% extends "base_site.html" %}

{% block title %} Dashboard 1 {% endblock title %}

{% block stylesheets %}
    {{ super() }}
    <link href="{{ url_for('static', filename='vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}"
          rel="stylesheet">
    <link href="{{ url_for('static', filename='vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}"
          rel="stylesheet">
    <link href="{{ url_for('static', filename='vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}"
          rel="stylesheet">
    <link href="{{ url_for('static', filename='vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}"
          rel="stylesheet">
    <link href="{{ url_for('static', filename='vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}"
          rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Список специалистов</h2>
            </div>
            <div class="x_content">
              <table class="table table-striped projects">
                <thead>
                  <tr>
                    <th style="width: 20%">Фамилия Имя Отчество</th>
                    <th>Должность</th>
                    <th>Специализация</th>
                    <th>Час консультации, ₽</th>
                    <th style="width: 20%">Ссылка на страницу</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <a>Тестовый Врач Первый</a>
                      <br />
                      <small>Зарегестрирован 01.01.2015</small>
                    </td>
                    <td>
                        <a>Заведующий отделением</a>
                    </td>
                    <td>
                        <a>Терапевт</a>
                    </td>
                    <td>
                        <a>1000</a>
                    </td>
                    <td>
                      <a href="/home/index"> <button type="button" class="btn btn-success btn-xs">Профиль</button> </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jszip/dist/jszip.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/pdfmake/build/pdfmake.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/pdfmake/build/vfs_fonts.js') }}"></script>
    <script src="{{ url_for('patient_blueprint.static',filename='table.js') }}"></script>
{% endblock javascripts %}

